<div class="row">
  <div class="col-sm-12">
    <ng-include src="'/templates/patients/patient.html'"></ng-include>
  </div>
</div>

<div class="row">
  <div class="col-sm-5">
    <ng-include src="'/templates/patients/patient_details.html'"></ng-include>
    <ng-include src="'/templates/patients/random_patients.html'"></ng-include>
  </div>

  <div class="col-sm-7">                     
    <ng-include src="'/templates/reports/reports.html'"></ng-include>
  </div>
</div>

<ng-include src="'/templates/defaults/footer.html'"></ng-include>